<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Security</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="navbar">
        <nav class="nav-container">
            <ul class="nav-list">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>

                <li class="logo">
                    <img src="logo.jpg" alt="Simple Security logo" />
                </li>

                <li><a href="support.html">SUPPORT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="about.html">ABOUT US</a></li>
            </ul>
        </nav>
    </header>
    <section class="our-items">
        <h2>Our CCTV Cameras</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="11062b_a25d0f5fd2ed4d94bbe2e1dd49e581c6~mv2.jpg.avif" alt="Bullet CCTV Camera" />
                <div class="product-title">Bullet CCTV Camera</div>
                <div class="product-price">$120</div>
            </div>
            <div class="product-item">
                <img src="bb21faf29510bfadf9a3c4c60659095369c133d529dcc41fcc2ceecaa9ac609b__82588.png"
                    alt="Dome CCTV Camera" />
                <div class="product-title">Dome CCTV Camera</div>
                <div class="product-price">$110</div>
            </div>
            <div class="product-item">
                <img src="4K-Cameras.pgng.webp" alt="4K CCTV Camera" />
                <div class="product-title">4K CCTV Camera</div>
                <div class="product-price">$250</div>
            </div>
        </div>
    </section>

</body>

</html>